/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*{
  margin: 0;
  padding: 0;
}

.navdesk {
  display: none;
}

.navmob {
  display: flex;
justify-content: space-around;
height: 75px;
align-items: center;
border-bottom: .1px solid silver;
box-shadow: 4px 4px 4px lightgrey;
}

figure {
  margin: 0em 0px;
display: flex;
justify-content: center;
}

figure img {
  width: 61%;
}

h1 {
  color: rgb(85, 85, 95);
  font-size: 20px;
margin-left: 5%;
}

nav {
  font-size: 12px;
  margin-left: 4%;
  margin-bottom: 2%;
}

.nav1 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

nav ul li{
  padding: 3 12px;
  margin-top: 4px;
}

li {
  border: .2px solid grey;
  margin-right: 5px;
  border-radius: 7px;
  padding: 7px 13px;
  background-color: rgb(229, 229, 234);
}

ul li:hover{
  background-color: rgb(74, 74, 76);
  color: white;
}

#toutes {
  background-color: rgb(74, 74, 76);
  color: white;
}


#prez {
  font-size: 10px;
}

.container {

align-items: flex-start;
flex-direction: column;
margin: 5% 0 5% 0%;
}

.container .chaussette {
  width: 45%;
  height: auto;
}

.container .prix, .container2 .prix,{
  border: 0px solid #F1ECEF;
  background-color: #F1ECEF;
  border-radius: 5px;
  font-size: 10px;
padding: .9em;
margin-left: 38%;
}

.containerDesk {
  display: none;
}

.chaussette .legende {
  align-items: center;
}

.container .legende, .container2 .legende {

font-size: 12px;
width: 46%;
font-style: oblique;
text-align: center;
}
.jedecouvre {
  width: 90%;
  height: auto;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}

.container2 .prix {
  margin-left: 64%;
}
.figure2 {
  width: 48%;
  display: flex;
flex-direction: column;
}

.figure2 .chaussette {
  width: 80%;
}

.figure2 .legende {
  width: 81%;
  font-size: 9px;
}

@media (min-width: 768px){

  .navdesk {
    display: none;
  }


  .navmob {
    display: flex;
    margin-bottom: 12px;
    width: 100%;
  }

  .nav1 {
    margin-left: 5%;

  }

  .nav2 {
    margin-left: 0;
  }

  .container {
    margin-left: 6%;
  }

  .mycontainer {
    display: flex;
    flex-wrap: wrap;
  }

  .container .prix {
    margin-left: 68%;
  }

  .container .chaussette {
    width: 85%;
  }

  .container .legende {
    width: 81%;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
  }

  .containerDesk {
    display: none;
  }

  .figure2 {
    width: 33%;
    display: flex;
  flex-direction: column;
  }

}

@media (min-width: 992px){

  .navdesk {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 164px;
    background-color: #EFEFF0;
    box-shadow: none;
  }

  .logodesk {
    margin-top: 10%;
  }

  .navdesk nav {
    display: flex;
    margin-top: 17%;
  }

  .navdesk nav ul {
    display: flex;
    list-style-type: none;
    background-color: none;
  }
  .navdesk nav ul li {
    border: none;
  background-color: #EFEFF0;
  }

  .navdesk nav ul #shop {
    background-color: white;
  }

  .navdesk nav ul li:hover {
  background-color: white;
  }

  span {
    font-size: 7px;
    color: #B9758A;
    background-color: #FCE0DD;
    position: absolute;
    padding: 4px;
    top: 26px;
    right: 53%;
  }

  .navdesk nav ul li a {
    border: none;
    color: black;

    text-decoration: none;
  }

  .mycontainer {
    display: flex;
flex-wrap: wrap;
justify-content: center;
  }

  .container {
    width: 17%;
    margin: auto;
  }

  .figure2 {
    width: 24%;
    display: flex;
  flex-direction: column;
  }
.containerDesk {

  display: flex;
width: 29%;
align-items: center;
flex-direction: column;
margin-right: 6%;
  }

  .containerDesk .prix {
    margin-left: 56%;
  }



  .containerDesk .legende {
    font-size: 12px;
font-style: oblique;
  }

  .nav {
    display: flex;
justify-content: flex-end;
width: 6%;
position: fixed;
right: 13px;
  }

  .navmob {
    display: none;
  }

  .navdesk #navpink {
    width: 20%;
  margin-top: 0%;
  background-color: #FDEBE9;
  }

  .navdesk #navpink ul li {
    background-color: #FDEBE9;
  }

  #navpink ul #frais {
    font-size: 8px;
    text-align: center;
    width: 100%;
    position: relative;
bottom: 15px;
  }

  #navpink ul #prod {
    width: 87%;
text-align: center;
font-size: 13px;
height: 19px;
position: relative;
z-index: 2;
color: #B35860;
  }

  #navpink ul #prod a {
    color: #B35860;
  }

  em {
    font-size: 33px;
  }
  #navpink ul li:hover {
    background-color: #FDEBE9;
}

#navpink ul {
  display: inline-block;
position: relative;
}

#navpink ul #bordure {
  position: absolute;
  top: 79px;
  width: 89%;
}

#bienvenue {
  width: 93%;
text-align: right;
color: #B35860;
font-size: 8px;
}

#bienvenue a {
color: #B35860;
font-size: 8px;
text-decoration: underline;
}


#navpink ul #bordure img {
  width: 106%;
position: absolute;
right: -7px;
}

#langue a {
  font-size: 9px;
color: white;
background-color: #C47B81;
padding: 2.5px 19px;
position: absolute;
top: 0px;
}

.langues a {
  font-size: 9px;
color: white;
background-color: #C47B81;
padding: 2.5px 19px;
position: absolute;
top: 0px;
}

#navpink ul #rouleau img {
  position: absolute;
top: 52px;
z-index: 2;
}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
